<body>

<h1>PREMIER LEAGUE - {{seasonYear}}</h1>

<div>
  <button class="mainBtns" mat-raised-button style="top:550px; left:240px;" routerLink="/league-table">Premier League Table</button>
  <button class="mainBtns" mat-raised-button style="top:550px; left:660px;" routerLink="/search-matches">Search Played Matches</button>
  <br>
  <button class="mainBtns" mat-raised-button style="top:550px; left:450px;" routerLink="/random-match">Play Random Match</button>
  <button class="mainBtns" mat-raised-button style="top:550px; left:450px;" routerLink="/played-matches">Played Matches</button>
</div>

</body>

