<nav class="navbar navbar-expand-lg navbar-dark" id="fullNav">

  <div class="container-fluid">
    <a class="navbar-brand" id="navTitle"><mat-icon>sports_soccer</mat-icon> Premier League           </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink=""> Home |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/league-table"> Premier League Table |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/random-match">  Play Random Match  |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/played-matches">  Played Matches  |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/search-matches">  Search Played Matches  |</a>
        </li>
      </ul>
    </div>

  </div>

</nav>

<router-outlet></router-outlet>
